@use "../base" as *;

.heroSplit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem 0;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

/* prohození stran */
.heroSplit.isImageRight {
  .heroSplit__media {
    order: 2;
  }
  .heroSplit__copy {
    order: 1;
  }

  @media (max-width: 800px) {
    .heroSplit__media {
      order: 1;
    }
    .heroSplit__copy {
      order: 2;
    }
  }
}

.heroSplit__media {
  border-radius: $radius;
  overflow: hidden;
  border: 1px solid $border;
  background: rgba(255, 255, 255, 0.03);
  max-width: 520px;

  @media (max-width: 920px) {
    max-width: 400px;
  }

  @media (max-width: 800px) {
    max-width: 320px;
  }

  @media (max-width: 600px) {
    max-width: 265px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.heroSplit__copy {
  padding: 22px;
  display: grid;
  align-content: center;
  gap: 16px;
}

.heroSplit__quote {
  margin: 0;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: rgba(243, 234, 215, 0.92); // béžová, ne čistě bílá

  @media (max-width: 920px) {
    font-size: 2.5rem;
  }
}

.heroSplit__sub {
  color: rgba(255, 255, 255, 0.62); // světle šedá
  line-height: 1.6;
}

.heroSplit__cta {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}
