@use "base/reset";
@use "base/typography";

@use "layout/layout";
@use "layout/navbar";
@use "layout/footer";

@use "components/card";
@use "components/buttons";
@use "components/section";
@use "components/hero";
@use "components/about";
@use "components/products";
@use "components/diagnostics";
@use "components/booknow";
@use "components/works";

@use "pages/home";
@use "pages/pricing";
@use "pages/contact";
